.main {
    color: #e9d5d3;
    color: #b2acb5;
    color: #c9221e;
    color: #9e2224;
    color: #372021;
}

.eva01 {
    color: #c7fba5;
    color: #adf182;
    color: #916cad;
    color: #523874;
    color: #dc7d68;
}

.eva02 {
    color: #e01e1c;
    color: #f85d3f;
    color: #fcd46b;
    color: #114f82;
    color: #04050a;
}